# Werkcollege-opdrachten Week 1.3

## Dependencies importeren

Kopieer in het codeblok hieronder van het vorige practicum de import-code voor de dependencies die het vaakst worden gebruikt om data in te lezen. Geef er ook de gebruikelijke aliassen aan.<br>
Zet eventuele warnings uit.

In [9]:
import warnings
import pandas as pd
warnings.simplefilter('ignore')

Zet het bestand go_sales_train.sqlite in een makkelijk te vinden map

## Databasetabellen inlezen

Kopieer in het codeblok hieronder van het vorige practicum de code om een connectie met het bestand go_sales_train.sqlite te maken.

In [2]:
import sqlite3 as sql


con = sql.connect("../../data/raw/go_sales_train.sqlite")

Lees van de ingelezen go_sales_train-database te volgende tabellen in met behulp van "SELECT * FROM *tabel*".
- product
- product_type
- product_line
- sales_staff
- sales_branch
- retailer_site
- country
- order_header
- order_details
- returned_item
- return_reason

In [11]:
selectAll = "SELECT * FROM sqlite_master"

con_cursor = con.cursor()

con_cursor.execute(selectAll)
column_names = [desc[0] for desc in con_cursor.description]

response = con_cursor.fetchall()

print(pd.DataFrame(response, columns= column_names))

     type           name       tbl_name  rootpage  \
0   table        country        country       480
1   table  order_details  order_details        11
2   table   order_header   order_header        24
3   table   order_method   order_method        27
4   table        product        product        28
5   table   product_line   product_line        17
6   table   product_type   product_type        10
7   table  retailer_site  retailer_site        18
8   table  return_reason  return_reason        30
9   table  returned_item  returned_item        31
10  table   sales_branch   sales_branch         2
11  table    sales_staff    sales_staff         3

                                                  sql
0   CREATE TABLE "country" (\n\t"COUNTRY_CODE"\tIN...
1   CREATE TABLE "order_details" (\n\t"ORDER_DETAI...
2   CREATE TABLE "order_header" (\n\t"ORDER_NUMBER...
3   CREATE TABLE "order_method" (\n\t"ORDER_METHOD...
4   CREATE TABLE "product" (\n\t"PRODUCT_NUMBER"\t...
5   CREATE TABLE "product_line" (\n\t"PRODUCT_LINE...
6   CREATE TABLE "product_type" (\n\t"PRODUCT_TYPE...
7   CREATE TABLE "retailer_site" (\n\t"RETAILER_SI...
8   CREATE TABLE "return_reason" (\n\t"RETURN_REAS...
9   CREATE TABLE "returned_item" (\n\t"RETURN_CODE...
10  CREATE TABLE "sales_branch" (\n\t"SALES_BRANCH...
11  CREATE TABLE "sales_staff" (\n\t"SALES_STAFF_C...

Krijg je een "no such table" error? Dan heb je misschien met .connect() per ongeluk een leeg  databasebestand (.sqlite) aangemaakt. <u>Let op:</u> lees eventueel de informatie uit het Notebook van werkcollege 1.1b nog eens goed door.

Als je tijdens onderstaande opdrachten uit het oog verliest welke tabellen er allemaal zijn, kan je deze Pythoncode uitvoeren:

In [ ]:
sql_query = "SELECT name FROM sqlite_master WHERE type='table';"
#Vul dit codeblok verder in
pd.read_sql(sql_query, ...)
#Op de puntjes hoort de connectie naar go_sales_train óf go_staff_train óf go_crm_train te staan.

erachter

Let op! Voor alle onderstaande opdrachten mag je <u>alleen Python</u> gebruiken, <u>geen SQL!</u>

## Selecties op één tabel zonder functies

Geef een overzicht met daarin de producten en hun productiekosten waarvan de productiekosten lager dan 100 dollar en hoger dan 50 dollar ligt. (2 kolommen, 23 rijen)

In [27]:
response1 = pd.read_sql("SELECT PRODUCT_NAME, PRODUCTION_COST FROM product", con)


filteredDf = response1.query("PRODUCTION_COST > 50 and PRODUCTION_COST < 100")

print(filteredDf)

                        PRODUCT_NAME  PRODUCTION_COST
5          TrailChef Deluxe Cook Set            85.11
7             TrailChef Double Flame            75.00
16                   Hibernator Lite            60.00
17                        Hibernator            86.00
19   Hibernator Self - Inflating Mat            78.55
22               Hibernator Camp Cot            65.33
23      Canyon Mule Climber Backpack            62.50
45           Granite Climbing Helmet            52.86
47             Husky Harness Extreme            55.00
57                    Granite Hammer            57.13
68                         Polar Ice            73.33
69                      Polar Sports            80.00
70                        Polar Wave            60.00
71                     Polar Extreme            72.50
74                      Edge Extreme            80.00
77                         Seeker 35            79.19
78                         Seeker 50            92.58
79                    Seeker Extreme            94.12
82                    Glacier Deluxe            56.25
83                       Glacier GPS            78.55
109                Blue Steel Putter            60.00
110            Blue Steel Max Putter            81.80
113              Course Pro Golf Bag            80.00

Geef een overzicht met daarin de producten en hun marge waarvan de marge lager dan 20 % of hoger dan 60 % ligt. (2 kolommen, 7 rijen)

In [33]:
response3 = pd.read_sql("SELECT PRODUCT_NAME, MARGIN FROM product", con)

filteredMarge = response3.query("MARGIN < 0.20 or MARGIN > 0.60")

print(filteredMarge)

                    PRODUCT_NAME  MARGIN
20                Hibernator Pad    0.17
23  Canyon Mule Climber Backpack    0.17
85             BugShield Natural    0.67
86               BugShield Spray    0.67
87         BugShield Lotion Lite    0.70
88              BugShield Lotion    0.63
89             BugShield Extreme    0.63

Geef een overzicht met daarin de landen waar met francs wordt betaald. Sorteer de uitkomst op land.  (1 kolom, 3 rijen)

In [22]:
response2 = pd.read_sql("SELECT COUNTRY, CURRENCY_NAME FROM country", con)

filteredCurrency = response2[response2["CURRENCY_NAME"] == 'francs']

print(filteredCurrency['COUNTRY'])

0          France
7     Switzerland
15        Belgium
Name: COUNTRY, dtype: object

Geef een overzicht met daarin de verschillende introductiedatums waarop producten met meer dan 50% marge worden geïntroduceerd (1 kolom, 7 rijen)

In [46]:
response5 = pd.read_sql("SELECT * FROM product", con)

filteredIntroductiondates = response5.query("MARGIN > 0.50")

print(filteredIntroductiondates["INTRODUCTION_DATE"].unique())

['2000-10-26' '1995-02-15' '2003-12-10' '2003-12-18' '2003-12-27'
 '2004-01-13' '2003-12-15']

Geef een overzicht met daarin het eerste adres en de stad van verkoopafdelingen waarvan zowel het tweede adres als de regio bekend is (2 kolommen, 7 rijen)

In [36]:
response4 = pd.read_sql("SELECT * FROM sales_branch",con)

filteredVerk = response4[response4["ADDRESS2"].notnull() & response4["REGION"].notnull()]

print(filteredVerk[["ADDRESS1", "CITY"]])

                            ADDRESS1              CITY
2                Singelgravenplein 4         Amsterdam
13  Prol. Paseo de la Reforma No. 51  Distrito Federal
14               202-2-3 Hyakunincho             Tokyo
15                     543-225 Asahi        Osaka City
16                  2315 Queen's Ave         Melbourne
18             Avenida Paulista, 333         São Paulo
24                    3 Albany Court        Birmingham

Geef een overzicht met daarin de landen waar met dollars (dollars of new dollar) wordt betaald. Sorteer de uitkomst op land. (1 kolom, 4 rijen)

In [52]:
response6 = pd.read_sql("SELECT * from country", con)

filteredDollar = response6[response6["CURRENCY_NAME"].str.contains('dollar')]

print(filteredDollar["COUNTRY"])

2     United States
3            Canada
11           Taiwan
14        Australia
Name: COUNTRY, dtype: object

Geef een overzicht met daarin beide adressen en de stad van vestigingen van klanten waarvan de postcode begint met een ‘D’ (van duitsland). Filter op vestigingen die een tweede adres hebben. (3 kolommen, 2 rijen)

In [54]:
response7 = pd.read_sql("SELECT ADDRESS1, ADDRESS2, CITY FROM retailer_site",con)

filteredDf1 = response7[response7['CITY'].str.startswith('D') & response7['ADDRESS2'].notnull()]

print(filteredDf1)

                      ADDRESS1              ADDRESS2              CITY
194       Oriente 233, No. 341    Industrial Vallejo  Distrito Federal
195  Avda. Chapultepec 246-303              Virreyes  Distrito Federal
199        Río Rhin 56, Piso 6            Cuauhtemoc  Distrito Federal
200    Tuxpan No. 54, Int. 509              Roma Sur  Distrito Federal
201   Cerro de La Libertad 158  Campestre Churubusco  Distrito Federal

## Selecties op één tabel met functies

Geef het totaal aantal producten dat is teruggebracht (1 waarde)

In [56]:
response8 = pd.read_sql("SELECT COUNT(*) FROM returned_item",con)

print(response8)

   COUNT(*)
0       619

Geef het aantal regio’s waarin verkoopafdelingen gevestigd zijn. (1 waarde)

In [57]:
response9 = pd.read_sql("SELECT COUNT(*) FROM sales_branch",con)

print(response9)

   COUNT(*)
0        28

Maak 3 variabelen:
- Een met de laagste
- Een met de hoogste
- Een met de gemiddelde (afgerond op 2 decimalen)

marge van producten (3 kolommen, 1 rij)

In [65]:
response10 = pd.read_sql("SELECT MARGIN from product",con)

laagsteMargin = pd.Series(response10["MARGIN"].min())
hoogsteMargin = pd.Series(response10["MARGIN"].max())
gemiddeldeMargin = pd.Series(response10["MARGIN"].mean().round(2))

filteredMargins = pd.concat([laagsteMargin, hoogsteMargin, gemiddeldeMargin], axis = 1)

print(filteredMargins)

      0    1    2
0  0.17  0.7  0.4

Geef het aantal vestigingen van klanten waarvan het 2e adres niet bekend is (1 waarde)

In [73]:
response11 = pd.read_sql("SELECT ADDRESS1, ADDRESS2, CITY, POSTAL_ZONE FROM sales_branch",con)

filteredDf1 = response11['ADDRESS2'].isnull().sum()

print(filteredDf1)

19

Geef de gemiddelde kostprijs van de verkochte producten waarop korting (unit_sale_price < unit_price) is verleend (1 waarde)

In [ ]:
response12 = pd.read_sql("SELECT ")

Geef een overzicht met daarin het aantal medewerkers per medewerkersfunctie (2 kolommen, 7 rijen)

Geef een overzicht met daarin per telefoonnummer het aantal medewerkers dat op dat telefoonnummer bereikbaar is. Toon alleen de telefoonnummer waarop meer dan 4 medewerkers bereikbaar zijn. (2 kolommen, 10 rijen)

## Selecties op meerdere tabellen zonder functies

Geef een overzicht met daarin het eerste adres en de stad van vestigingen van klanten uit ‘Netherlands’ (2 kolommen, 20 rijen)

Geef een overzicht met daarin de productnamen die tot het producttype ‘Eyewear’ behoren. (1 kolom, 5 rijen)

Geef een overzicht met daarin alle unieke eerste adressen van klantvestigingen en de voornaam en achternaam van de verkopers die ‘Branch Manager’ zijn en aan deze vestigingen hebben verkocht (3 kolommen, 1 rij)

Geef een overzicht met daarin van de verkopers hun functie en indien zij iets hebben verkocht de datum waarop de verkoop heeft plaatsgevonden. Laat alleen de verschillende namen van de posities zien van de verkopers die het woord ‘Manager’ in hun positienaam hebben staan. (2 kolommen, 7 rijen)

Geef een overzicht met daarin de verschillende namen van producten en bijbehorende namen van producttypen van de producten waarvoor ooit meer dan 750 stuks tegelijk verkocht zijn. (2 kolommen, 9 rijen)

Geef een overzicht met daarin de productnamen waarvan ooit meer dan 40% korting is verleend. De formule voor korting is: (unit_price - unit_sale_price) / unit_price (1 kolom, 8 rijen)

Geef een overzicht met daarin de retourreden van producten waarvan ooit meer dan 90% van de aangeschafte hoeveelheid is teruggebracht (return_quantity/quantity). (1 kolom, 3 rijen)

## Selecties op meerdere tabellen met functies

Geef een overzicht met daarin per producttype het aantal producten die tot dat producttype behoren. (2 kolommen, 21 rijen)

Geef een overzicht met daarin per land het aantal vestigingen van klanten die zich in dat land bevinden. (2 kolommen, 21 rijen)

Geef een overzicht met daarin van de producten behorend tot het producttype ‘Cooking Gear’ per productnaam de totaal verkochte hoeveelheid en de gemiddelde verkoopprijs. Sorteer de uitkomst op totaal verkochte hoeveelheid. (4 kolommen, 10 rijen)

Geef een overzicht met daarin per land de naam van het land, de naam van de stad waar de verkoopafdeling is gevestigd (noem de kolomnaam in het overzicht ‘verkoper’) en het aantal steden waar zich klanten bevinden in dat land (noem de kolomnaam in het overzicht ‘klanten’) (3 kolommen, 29 rijen)

## Pythonvertalingen van SUBSELECT en UNION met o.a. for-loops

Geef een overzicht met daarin de voornaam en de achternaam van de medewerkers die nog nooit wat hebben verkocht (2 kolommen, 25 rijen)

Geef een overzicht met daarin het aantal producten waarvan de marge lager is dan de gemiddelde marge van alle producten samen. Geef in het overzicht tevens aan wat de gemiddelde marge is van dit aantal producten waarvan de marge lager dan de gemiddelde marge van alle producten samen is. (1 kolom, 2 rijen)

Geef een overzicht met daarin de namen van de producten die voor meer dan 500 (verkoopprijs) zijn verkocht maar nooit zijn teruggebracht. (1 kolom, 13 rijen)

Geef een overzicht met daarin per (achternaam van) medewerker of hij/zij manager is of niet, door deze informatie toe te voegen als extra 'Ja/Nee'-kolom.<br>
Hint: gebruik een for-loop waarin je o.a. bepaalt of het woord 'Manager' in de functie (position_en) staat. (2 kolommen, 102 rijen).

Met de onderstaande code laat je Python het huidige jaar uitrekenen.

In [1]:
from datetime import date
date.today().year

2024

Met de onderstaande code selecteer je op een bepaald jaartal uit een datum.

In [2]:
from datetime import datetime

date_str = '16-8-2013'
date_format = '%d-%m-%Y'
date_obj = datetime.strptime(date_str, date_format)

date_obj.year

2013

Geef met behulp van bovenstaande hulpcode een overzicht met daarin op basis van het aantal jaar dat iemand in dienst is of een medewerker ‘kort in dienst’ (minder dan 25 jaar in dienst) of een ‘lang in dienst’ (groter gelijk dan 12 jaar in dienst) is. Geef daarbij per medewerker in een aparte kolom zowel ‘kort in dienst’ als ‘lang in dienst’ aan. Gebruik (wederom) een for-loop.<br>
(2 kolommen, 102 rijen)

## Van Jupyter Notebook naar Pythonproject

1. Richt de map waarin jullie tot nu toe hebben gewerkt in volgens de mappenstructuur uit de slides.
2. Maak van de ontstane mappenstructuur een Pythonproject dat uitvoerbaar is vanuit de terminal. Maak daarin een .py-bestand dat minstens 5 antwoorden uit dit notebook (in de vorm van een DataFrame) exporteert naar Excelbestanden. Alle notebooks mogen als notebook blijven bestaan.
3. Zorg ervoor dat dit Pythonproject zijn eigen repo heeft op Github. Let op: je virtual environment moet <b><u>niet</u></b> meegaan naar Github.

Je mag tijdens dit proces je uit stap 1 ontstane mappenstructuur aanpassen, zolang je bij het beoordelingsmoment kan verantwoorden wat de motivatie hierachter is. De slides verplichten je dus nergens toe.