Imports and initial connection

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy import text
import pandas as pd
import sqlite3

engine = create_engine("mssql+pyodbc://LEGION\\SQLEXPRESS/sdm?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes")

Create DataFrames from db

In [ ]:
age_group_df = pd.read_sql_query('SELECT * FROM age_group', engine)
country_df = pd.read_sql_query('SELECT * FROM country', engine)
course_df = pd.read_sql_query('SELECT * FROM course', engine)
inventory_levels_df = pd.read_sql_query('SELECT * FROM inventory_levels', engine)
order_details_df = pd.read_sql_query('SELECT * FROM order_details', engine)
order_header_df = pd.read_sql_query('SELECT * FROM order_header', engine)
order_method_df = pd.read_sql_query('SELECT * FROM order_method', engine)
product_df = pd.read_sql_query('SELECT * FROM product', engine)
product_forecast_df = pd.read_sql_query('SELECT * FROM product_forecast', engine)
product_line_df = pd.read_sql_query('SELECT * FROM product_line', engine)
product_type_df = pd.read_sql_query('SELECT * FROM product_type', engine)
retailer_df = pd.read_sql_query('SELECT * FROM retailer', engine)
retailer_headquarters_df = pd.read_sql_query('SELECT * FROM retailer_headquarters', engine)
retailer_segment_df = pd.read_sql_query('SELECT * FROM retailer_segment', engine)
retailer_site_df = pd.read_sql_query('SELECT * FROM retailer_site', engine)
retailer_type_df = pd.read_sql_query('SELECT * FROM retailer_type', engine)
return_reason_df = pd.read_sql_query('SELECT * FROM return_reason', engine)
returned_item_df = pd.read_sql_query('SELECT * FROM returned_item', engine)
sales_branch_df = pd.read_sql_query('SELECT * FROM sales_branch', engine)
sales_staff_df = pd.read_sql_query('SELECT * FROM sales_staff', engine)
sales_demographic_df = pd.read_sql_query('SELECT * FROM sales_demographic', engine)
sales_territory_df = pd.read_sql_query('SELECT * FROM sales_territory', engine)
satisfaction_df = pd.read_sql_query('SELECT * FROM satisfaction', engine)
satisfaction_type_df = pd.read_sql_query('SELECT * FROM satisfaction_type', engine)
training_df = pd.read_sql_query('SELECT * FROM training', engine)

Loc for one-liner inserts into DataFrame & insert into SQL DB

In [ ]:
# course_df.loc[len(course_df)] = [2, 'course test info2']
# training_df.loc[len(training_df)] = [2026, 7, 2]

# course_df
# course_df = course_df.drop(course_df[course_df['COURSE_CODE'] == 2].index)

# course_df.to_sql('course', con=engine, if_exists='replace', index=False)
# training_df.to_sql('training', con=engine, if_exists='append', index=False)


new_data1 = pd.DataFrame({'COURSE_CODE' : [6],'COURSE_DESCRIPTION' : ['course test info6']})

filtered_data1 = new_data1[~new_data1['COURSE_CODE'].isin(course_df['COURSE_CODE'])]

filtered_data1.to_sql('course', con=engine, if_exists='append', index=False)

Insert where there are foreign keys test
Start from outside (tables with no foreign keys required) and go within

insert into sales_demographic required FK from age_group and retailer_headquarters, insert into retailer_headquarters requires FK from retailer_segment

retailer_segment DF and DB insert

In [ ]:
# retailer_segment_df.loc[len(retailer_segment_df)] = [2, 'english2', 'seg name test2', 'seg desc test2']
# retailer_segment_df.to_sql('retailer_segment', con=engine, if_exists='replace', index=False)

# retailer_segment_df = retailer_segment_df.drop(retailer_segment_df[retailer_segment_df['SEGMENT_CODE'] == 1].index)
# retailer_segment_df

new_data2 = pd.DataFrame({'SEGMENT_CODE': [3], 'SEGMENT_NAME': ['english3'], 'SEGMENT_DESC': ['seg name test3'], 'SEGMENT_DESC_NON_ENG': ['seg desc test3']})

filtered_data2 = new_data2[~new_data2['SEGMENT_CODE'].isin(retailer_segment_df['SEGMENT_CODE'])]

filtered_data2.to_sql('retailer_segment', con=engine, if_exists='append', index=False)

territory_code DF and DB insert

In [ ]:
# sales_territory_df.loc[len(sales_territory_df)] = [3, 'kingdom of the netherlands']
# sales_territory_df.to_sql('sales_territory', con=engine, if_exists='append', index=False)

new_data3 = pd.DataFrame({'SALES_TERRITORY_CODE': [4], 'TERRITORY_NAME_EN': ['kingdom of the netherlands']})

filtered_data3 = new_data3[~new_data3['SALES_TERRITORY_CODE'].isin(sales_territory_df['SALES_TERRITORY_CODE'])]

filtered_data3.to_sql('sales_territory', con=engine, if_exists='append', index=False)

country DF and DB insert

In [ ]:
# country_df.loc[len(country_df)] = [1, 'netherlands', 'dutch', 'euro', 'flag of the netherlands', 3]
# country_df.to_sql('country', con=engine, if_exists='append', index=False)

new_data4 = pd.DataFrame({'COUNTRY_CODE': [2], 'COUNTRY_EN': ['belgium'], 'LANGUAGE': ['french'], 'CURRENCY_NAME': ['euro'], 'FLAG_IMAGE': ['flag of belgium'], 'SALES_TERRITORY_CODE': [4]})

filtered_data4 = new_data4[~new_data4['COUNTRY_CODE'].isin(country_df['COUNTRY_CODE'])]

filtered_data4.to_sql('country', con=engine, if_exists='append', index=False)

retailer_headquarters DF and DB insert

In [ ]:
# retailer_headquarters_df.loc[len(retailer_headquarters_df)] = [8, 'google', 'address1test', 'address2test', 'amsterdam', 'north holland', 1, '1234567890', '1234567890', 1]
# retailer_headquarters_df.to_sql('retailer_headquarters', con=engine, if_exists='append', index=False)

new_data5 = pd.DataFrame({'RETAILER_CODEMR': [9], 'RETAILER_NAME': ['google'], 'ADDRESS1': ['address1test'], 'ADDRESS2': ['address2test'], 'CITY': ['amsterdam'], 'REGION': ['north holland'], 'COUNTRY_CODE': [2], 'PHONE': ['1234567890'], 'FAX': ['1234567890'], 'SEGMENT_CODE': [3]})

filtered_data5 = new_data5[~new_data5['RETAILER_CODEMR'].isin(retailer_headquarters_df['RETAILER_CODEMR'])]

filtered_data5.to_sql('retailer_headquarters', con=engine, if_exists='append', index=False)

age_group DF and DB insert

In [ ]:
# age_group_df.loc[len(age_group_df)] = [5, 66, 21]
# age_group_df.to_sql('age_group', con=engine, if_exists='append', index=False)

# age_group_df
# age_group_df = age_group_df.drop(age_group_df[age_group_df['AGE_GROUP_CODE'] == 4].index)


new_data6 = pd.DataFrame({'AGE_GROUP_CODE': [7], 'UPPER_AGE': [68], 'LOWER_AGE': [23]})

filtered_data6 = new_data6[~new_data6['AGE_GROUP_CODE'].isin(age_group_df['AGE_GROUP_CODE'])]

filtered_data6.to_sql('age_group', con=engine, if_exists='append', index=False)

sales_demographic DF and DB insert

In [ ]:
# sales_demographic_df.loc[len(sales_demographic_df)] = [12, 8, 4, 20]
# sales_demographic_df.to_sql('sales_demographic', con=engine, if_exists='append', index=False)

new_data7 = pd.DataFrame({'DEMOGRAPHIC_CODE': [13], 'RETAILER_CODEMR': [9], 'AGE_GROUP_CODE': [5], 'PERCENT': [20]})

filtered_data7 = new_data7[~new_data7['DEMOGRAPHIC_CODE'].isin(sales_demographic_df['DEMOGRAPHIC_CODE'])]

filtered_data7.to_sql('sales_demographic', con=engine, if_exists='append', index=False)

import read data from go_crm_train file

In [ ]:
conn = sqlite3.connect('../data/raw/go_crm_train.sqlite')
result = conn.cursor().execute('SELECT * from age_group').fetchall()

result_df = pd.DataFrame(result, columns=['AGE_GROUP_ID', 'UPPER_AGE', 'LOWER_AGE'])
result_df

delete all records from DB table

In [ ]:
with engine.connect() as conn:
    # conn.execute(text("DELETE FROM retailer_headquarters WHERE SEGMENT_CODE IS NOT NULL"))
    # conn.commit()

    conn.execute(text("DELETE FROM sales_territory"))
    conn.commit()

make all connections

In [195]:
prod_fore_csv = pd.read_csv('../data/raw/product_forecast_train.csv')
prod_fore_df = pd.DataFrame(prod_fore_csv)

inv_levels_csv = pd.read_csv('../data/raw/inventory_levels_train.csv')
inv_levels_df = pd.DataFrame(inv_levels_csv)

crm_train_conn = sqlite3.connect('../data/raw/go_crm_train.sqlite')
sales_train_conn = sqlite3.connect('../data/raw/go_sales_train.sqlite')
staff_train_conn = sqlite3.connect('../data/raw/go_staff_train.sqlite')

insert product_line data into DB table

In [ ]:
product_line_fetch = sales_train_conn.cursor().execute('SELECT * from product_line').fetchall()
product_line_fetch = pd.DataFrame(product_line_fetch, columns=['PRODUCT_LINE_CODE', 'PRODUCT_LINE_EN'])

a = 0
while a < len(product_line_fetch):
    product_line_temp_df = pd.DataFrame({'PRODUCT_LINE_CODE': [product_line_fetch.iloc[a]['PRODUCT_LINE_CODE']], 'PRODUCT_LINE_EN': [product_line_fetch.iloc[a]['PRODUCT_LINE_EN']]})
    
    product_line_temp_df.to_sql('product_line', con=engine, if_exists='append', index=False)
    a += 1

insert product_type data into DB table

In [178]:
product_type_fetch = sales_train_conn.cursor().execute('SELECT * FROM product_type').fetchall()
product_type_fetch = pd.DataFrame(product_type_fetch, columns=['PRODUCT_TYPE_CODE', 'PRODUCT_LINE_CODE', 'PRODUCT_TYPE_EN'])

b = 0
while b < len(product_type_fetch):
    product_type_temp_df = pd.DataFrame({'PRODUCT_TYPE_CODE': [product_type_fetch.iloc[b]['PRODUCT_TYPE_CODE']], 'PRODUCT_LINE_CODE': [product_type_fetch.iloc[b]['PRODUCT_LINE_CODE']], 'PRODUCT_TYPE_EN': [product_type_fetch.iloc[b]['PRODUCT_TYPE_EN']]})

    product_type_temp_df.to_sql('product_type', con=engine, if_exists='append', index=False)
    b += 1

insert product data into DB table

In [183]:
product_fetch = sales_train_conn.cursor().execute('SELECT * FROM product').fetchall()
product_fetch = pd.DataFrame(product_fetch, columns=['PRODUCT_NUMBER', 'INTRODUCTION_DATE', 'PRODUCT_TYPE_CODE', 'PRODUCTION_COST', 'MARGIN', 'PRODUCT_IMAGE', 'LANGUAGE', 'PRODUCT_NAME', 'DESCRIPTION'])

c = 0
while c < len(product_fetch):
    product_temp_df = pd.DataFrame({'PRODUCT_NUMBER': [product_fetch.iloc[c]['PRODUCT_NUMBER']], 'INTRODUCTION_DATE': [product_fetch.iloc[c]['INTRODUCTION_DATE']], 'PRODUCT_TYPE_CODE': [product_fetch.iloc[c]['PRODUCT_TYPE_CODE']], 'PRODUCTION_COST': [product_fetch.iloc[c]['PRODUCTION_COST']], 'MARGIN': [product_fetch.iloc[c]['MARGIN']], 'PRODUCT_IMAGE': [product_fetch.iloc[c]['PRODUCT_IMAGE']], 'PRODUCT_NAME': [product_fetch.iloc[c]['PRODUCT_NAME']], 'DESCRIPTION': [product_fetch.iloc[c]['DESCRIPTION']]})

    product_temp_df.to_sql('product', con=engine, if_exists='append', index=False)
    c += 1

insert product_forecast data into DB

In [187]:
d = 0

while d < len(prod_fore_csv):
    prod_fore_new_df = pd.DataFrame({'PRODUCT_NUMBER': [prod_fore_df.iloc[d]['PRODUCT_NUMBER']], 'YEAR': [prod_fore_df.iloc[d]['YEAR']], 'MONTH':[prod_fore_df.iloc[d]['MONTH']], 'EXPECTED_VOLUME': [prod_fore_df.iloc[d]['EXPECTED_VOLUME']]})

    prod_fore_new_df.to_sql('product_forecast', con=engine, if_exists='append', index=False)
    d += 1

insert inventory_levels data into DB

In [199]:
e = 0

while e < len(inv_levels_csv):
    inv_levels_temp_df = pd.DataFrame({'INVENTORY_YEAR': [inv_levels_df.iloc[e]['INVENTORY_YEAR']], 'INVENTORY_MONTH': [inv_levels_df.iloc[e]['INVENTORY_MONTH']], 'PRODUCT_NUMBER': [inv_levels_df.iloc[e]['PRODUCT_NUMBER']], 'INVENTORY_COUNT': [inv_levels_df.iloc[e]['INVENTORY_COUNT']]})
    
    inv_levels_temp_df.to_sql('inventory_levels', con=engine, if_exists='append', index=False)
    e += 1

insert return_reason data into DB

In [200]:
return_reason_fetch = sales_train_conn.cursor().execute('SELECT * FROM return_reason').fetchall()
return_reason_fetch = pd.DataFrame(return_reason_fetch, columns=['RETURN_REASON_CODE', 'RETURN_DESCRIPTION_EN'])

f = 0
while f < len(return_reason_fetch):
    return_reason_temp_df = pd.DataFrame({'RETURN_REASON_CODE': [return_reason_fetch.iloc[f]['RETURN_REASON_CODE']], 'RETURN_DESCRIPTION_EN': [return_reason_fetch.iloc[f]['RETURN_DESCRIPTION_EN']]})
    
    return_reason_temp_df.to_sql('return_reason', con=engine, if_exists='append', index=False)
    f += 1

insert sales_territory data into DB

In [203]:
sales_territory_fetch = crm_train_conn.cursor().execute('SELECT * FROM sales_territory').fetchall()
sales_territory_fetch = pd.DataFrame(sales_territory_fetch, columns=['SALES_TERRITORY_CODE', 'TERRITORY_NAME_EN'])

g = 0
while g < len(sales_territory_fetch):
    sales_territory_temp_df = pd.DataFrame({'SALES_TERRITORY_CODE': [sales_territory_fetch.iloc[g]['SALES_TERRITORY_CODE']], 'TERRITORY_NAME_EN': [sales_territory_fetch.iloc[g]['TERRITORY_NAME_EN']]})
    
    sales_territory_temp_df.to_sql('sales_territory', con=engine, if_exists='append', index=False)
    g += 1

insert country data into DB

In [208]:
country_fetch_crm = pd.DataFrame(crm_train_conn.cursor().execute('SELECT * FROM country').fetchall(), columns=['COUNTRY_CODE', 'COUNTRY_EN', 'FLAG_IMAGE', 'SALES_TERRITORY_CODE'])
country_fetch_sales = pd.DataFrame(sales_train_conn.cursor().execute('SELECT * FROM country').fetchall(), columns=['COUNTRY_CODE', 'COUNTRY_EN', 'LANGUAGE', 'CURRENCY_NAME'])
merge_country_fetch = country_fetch_crm.merge(country_fetch_sales, on=['COUNTRY_CODE', 'COUNTRY_EN'], how='outer')

h = 0
while h < len(merge_country_fetch):
    country_temp_df = pd.DataFrame({'COUNTRY_CODE': [merge_country_fetch.iloc[h]['COUNTRY_CODE']], 'COUNTRY_EN': [merge_country_fetch.iloc[h]['COUNTRY_EN']], 'FLAG_IMAGE': [merge_country_fetch.iloc[h]['FLAG_IMAGE']], 'SALES_TERRITORY_CODE': [merge_country_fetch.iloc[h]['SALES_TERRITORY_CODE']], 'LANGUAGE': [merge_country_fetch.iloc[h]['LANGUAGE']], 'CURRENCY_NAME': [merge_country_fetch.iloc[h]['CURRENCY_NAME']]})
    
    country_temp_df.to_sql('country', con=engine, if_exists='append', index=False)
    h += 1

insert sales_branch data into DB

In [212]:
sales_branch_fetch_sales = pd.DataFrame(sales_train_conn.cursor().execute('SELECT * FROM sales_branch').fetchall(), columns=['SALES_BRANCH_CODE', 'ADDRESS1', 'ADDRESS2', 'CITY', 'REGION', 'COUNTRY_CODE'])
sales_branch_fetch_staff = pd.DataFrame(staff_train_conn.cursor().execute('SELECT * FROM sales_branch').fetchall(), columns=['SALES_BRANCH_CODE', 'ADDRESS1', 'ADDRESS2', 'CITY', 'REGION', 'COUNTRY_CODE'])

merge_sales_branch = sales_branch_fetch_sales.merge(sales_branch_fetch_staff, on=['SALES_BRANCH_CODE', 'ADDRESS1', 'ADDRESS2', 'CITY', 'REGION', 'COUNTRY_CODE'], how='outer')

i = 0
while i < len(merge_sales_branch):
    sales_branch_temp_df = pd.DataFrame({'SALES_BRANCH_CODE': [merge_sales_branch.iloc[i]['SALES_BRANCH_CODE']], 'ADDRESS1': [merge_sales_branch.iloc[i]['ADDRESS1']], 'ADDRESS2': [merge_sales_branch.iloc[i]['ADDRESS2']], 'CITY': [merge_sales_branch.iloc[i]['CITY']], 'REGION': [merge_sales_branch.iloc[i]['REGION']], 'COUNTRY_CODE': [merge_sales_branch.iloc[i]['COUNTRY_CODE']]})
    
    sales_branch_temp_df.to_sql('sales_branch', con=engine, if_exists='append', index=False)
    i += 1

insert sales_staff data into DB

In [219]:
sales_staff_fetch_sales = pd.DataFrame(sales_train_conn.cursor().execute('SELECT * FROM sales_staff').fetchall(), columns=['SALES_STAFF_CODE', 'FIRST_NAME', 'LAST_NAME', 'POSITION_EN', 'WORK_PHONE', 'EXTENSION', 'FAX', 'EMAIL', 'DATE_HIRED', 'SALES_BRANCH_CODE'])

sales_staff_fetch_staff = pd.DataFrame(staff_train_conn.cursor().execute('SELECT * FROM sales_staff').fetchall(), columns=['SALES_STAFF_CODE', 'FIRST_NAME', 'LAST_NAME', 'POSITION_EN', 'WORK_PHONE', 'EXTENSION', 'FAX', 'EMAIL', 'DATE_HIRED', 'SALES_BRANCH_CODE', 'MANAGER_CODE'])

merge_sales_staff = sales_staff_fetch_sales.merge(sales_staff_fetch_staff, on=['SALES_STAFF_CODE', 'FIRST_NAME', 'LAST_NAME', 'POSITION_EN', 'WORK_PHONE', 'EXTENSION', 'FAX', 'EMAIL', 'DATE_HIRED', 'SALES_BRANCH_CODE'], how='outer')

j = 0
while j < len(merge_sales_staff):
    sales_staff_temp_df = pd.DataFrame({'SALES_STAFF_CODE': [merge_sales_staff.iloc[j]['SALES_STAFF_CODE']], 'FIRST_NAME': [merge_sales_staff.iloc[j]['FIRST_NAME']], 'LAST_NAME': [merge_sales_staff.iloc[j]['LAST_NAME']], 'POSITION_EN': [merge_sales_staff.iloc[j]['POSITION_EN']], 'WORK_PHONE': [merge_sales_staff.iloc[j]['WORK_PHONE']], 'EXTENSION': [merge_sales_staff.iloc[j]['EXTENSION']], 'FAX': [merge_sales_staff.iloc[j]['FAX']], 'EMAIL': [merge_sales_staff.iloc[j]['EMAIL']], 'DATE_HIRED': [merge_sales_staff.iloc[j]['DATE_HIRED']], 'SALES_BRANCH_CODE': [merge_sales_staff.iloc[j]['SALES_BRANCH_CODE']], 'MANAGER_CODE': [merge_sales_staff.iloc[j]['MANAGER_CODE']]})
    
    sales_staff_temp_df.to_sql('sales_staff', con=engine, if_exists='append', index=False)
    j += 1

insert satisfaction_type data into DB

In [221]:
satis_type_fetch = staff_train_conn.cursor().execute('SELECT * FROM satisfaction_type').fetchall()
satis_type_fetch = pd.DataFrame(satis_type_fetch, columns=['SATISFACTION_TYPE_CODE', 'SATISFACTION_TYPE_DESCRIPTION'])

k = 0
while k < len(satis_type_fetch):
    satis_type_temp_df = pd.DataFrame({'SATISFACTION_TYPE_CODE': [satis_type_fetch.iloc[k]['SATISFACTION_TYPE_CODE']], 'SATISFACTION_TYPE_DESCRIPTION': [satis_type_fetch.iloc[k]['SATISFACTION_TYPE_DESCRIPTION']]})
    
    satis_type_temp_df.to_sql('satisfaction_type', con=engine, if_exists='append', index=False)
    k += 1

insert course data into DB

In [223]:
course_fetch = staff_train_conn.cursor().execute('SELECT * FROM course').fetchall()
course_fetch = pd.DataFrame(course_fetch, columns=['COURSE_CODE', 'COURSE_DESCRIPTION'])

l = 0
while l < len(course_fetch):
    course_temp_df = pd.DataFrame({'COURSE_CODE': [course_fetch.iloc[l]['COURSE_CODE']], 'COURSE_DESCRIPTION': [course_fetch.iloc[l]['COURSE_DESCRIPTION']]})
    
    course_temp_df.to_sql('course', con=engine, if_exists='append', index=False)
    l += 1

insert satisfaction data into DB

In [224]:
satisfaction_fetch = staff_train_conn.cursor().execute('SELECT * FROM satisfaction').fetchall()
satisfaction_fetch = pd.DataFrame(satisfaction_fetch, columns=['YEAR', 'SALES_STAFF_CODE', 'SATISFACTION_TYPE_CODE'])

m = 0
while m < len(satisfaction_fetch):
    satisfaction_temp_df = pd.DataFrame({'YEAR': [satisfaction_fetch.iloc[m]['YEAR']], 'SALES_STAFF_CODE': [satisfaction_fetch.iloc[m]['SALES_STAFF_CODE']], 'SATISFACTION_TYPE_CODE': [satisfaction_fetch.iloc[m]['SATISFACTION_TYPE_CODE']]})
    
    satisfaction_temp_df.to_sql('satisfaction', con=engine, if_exists='append', index=False)
    m += 1

insert training data into DB

In [225]:
training_fetch = staff_train_conn.cursor().execute('SELECT * FROM training').fetchall()
training_fetch = pd.DataFrame(training_fetch, columns=['YEAR', 'SALES_STAFF_CODE', 'COURSE_CODE'])

o = 0
while o < len(training_fetch):
    training_temp_df = pd.DataFrame({'YEAR': [training_fetch.iloc[o]['YEAR']], 'SALES_STAFF_CODE': [training_fetch.iloc[o]['SALES_STAFF_CODE']], 'COURSE_CODE': [training_fetch.iloc[o]['COURSE_CODE']]})
    
    training_temp_df.to_sql('training', con=engine, if_exists='append', index=False)
    o += 1

In [226]:
order_method_fetch = sales_train_conn.cursor().execute('SELECT * FROM order_method').fetchall()
order_method_fetch = pd.DataFrame(order_method_fetch, columns=['ORDER_METHOD_CODE', 'ORDER_METHOD_EN'])

p = 0
while p < len(order_method_fetch):
    order_method_temp_df = pd.DataFrame({'ORDER_METHOD_CODE': [order_method_fetch.iloc[p]['ORDER_METHOD_CODE']], 'ORDER_METHOD_EN': [order_method_fetch.iloc[p]['ORDER_METHOD_EN']]})
    
    order_method_temp_df.to_sql('order_method', con=engine, if_exists='append', index=False)
    p += 1

insert order_method data into DB

insert returned_item data into DB

In [201]:
# returned_item_fetch = sales_train_conn.cursor().execute('SELECT * FROM returned_item').fetchall()
# returned_item_fetch = pd.DataFrame(returned_item_fetch, columns=['RETURN_CODE', 'RETURN_DATE', 'ORDER_DETAIL_CODE', 'RETURN_REASON_CODE', 'RETURN_QUANTITY'])
# 
# g = 0
# while g < len(returned_item_fetch):
#     returned_item_temp_df = pd.DataFrame({'RETURN_CODE': [returned_item_fetch.iloc[g]['RETURN_CODE']], 'RETURN_DATE': [returned_item_fetch.iloc[g]['RETURN_DATE']], 'ORDER_DETAIL_CODE': [returned_item_fetch.iloc[g]['ORDER_DETAIL_CODE']], 'RETURN_REASON_CODE': [returned_item_fetch.iloc[g]['RETURN_REASON_CODE']], 'RETURN_QUANTITY': [returned_item_fetch.iloc[g]['RETURN_QUANTITY']]})
#     
#     returned_item_temp_df.to_sql('returned_item', con=engine, if_exists='append', index=False)
#     g += 1

IntegrityError: (pyodbc.IntegrityError) ('23000', '[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The INSERT statement conflicted with the FOREIGN KEY constraint "FK__returned___ORDER__4E53A1AA". The conflict occurred in database "sdm", table "dbo.order_details", column \'ORDER_DETAIL_CODE\'. (547) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)')
[SQL: INSERT INTO returned_item ([RETURN_CODE], [RETURN_DATE], [ORDER_DETAIL_CODE], [RETURN_REASON_CODE], [RETURN_QUANTITY]) VALUES (?, ?, ?, ?, ?)]
[parameters: (1491, 'Aug  1 2023  4:10AM', 84858, 5, 8)]
(Background on this error at: https://sqlalche.me/e/20/gkpj)