Imports and initial connection

In [ ]:
from sqlalchemy import create_engine
import pandas as pd
import sqlite3

engine = create_engine("mssql+pyodbc://LEGION\\SQLEXPRESS/sdm?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes")

Create DataFrames from db

In [ ]:
age_group_df = pd.read_sql_query('SELECT * FROM age_group', engine)
country_df = pd.read_sql_query('SELECT * FROM country', engine)
course_df = pd.read_sql_query('SELECT * FROM course', engine)
inventory_levels_df = pd.read_sql_query('SELECT * FROM inventory_levels', engine)
order_details_df = pd.read_sql_query('SELECT * FROM order_details', engine)
order_header_df = pd.read_sql_query('SELECT * FROM order_header', engine)
order_method_df = pd.read_sql_query('SELECT * FROM order_method', engine)
product_df = pd.read_sql_query('SELECT * FROM product', engine)
product_forecast_df = pd.read_sql_query('SELECT * FROM product_forecast', engine)
product_line_df = pd.read_sql_query('SELECT * FROM product_line', engine)
product_type_df = pd.read_sql_query('SELECT * FROM product_type', engine)
retailer_df = pd.read_sql_query('SELECT * FROM retailer', engine)
retailer_headquarters_df = pd.read_sql_query('SELECT * FROM retailer_headquarters', engine)
retailer_segment_df = pd.read_sql_query('SELECT * FROM retailer_segment', engine)
retailer_site_df = pd.read_sql_query('SELECT * FROM retailer_site', engine)
retailer_type_df = pd.read_sql_query('SELECT * FROM retailer_type', engine)
return_reason_df = pd.read_sql_query('SELECT * FROM return_reason', engine)
returned_item_df = pd.read_sql_query('SELECT * FROM returned_item', engine)
sales_branch_df = pd.read_sql_query('SELECT * FROM sales_branch', engine)
sales_staff_df = pd.read_sql_query('SELECT * FROM sales_staff', engine)
sales_demographic_df = pd.read_sql_query('SELECT * FROM sales_demographic', engine)
sales_territory_df = pd.read_sql_query('SELECT * FROM sales_territory', engine)
satisfaction_df = pd.read_sql_query('SELECT * FROM satisfaction', engine)
satisfaction_type_df = pd.read_sql_query('SELECT * FROM satisfaction_type', engine)
training_df = pd.read_sql_query('SELECT * FROM training', engine)

Loc for one-liner inserts into DataFrame & insert into SQL DB

In [ ]:
course_df.loc[len(course_df)] = [2, 'course test info2']
training_df.loc[len(training_df)] = [2026, 7, 2]

course_df.to_sql('course', con=engine, if_exists='append', index=False)
training_df.to_sql('training', con=engine, if_exists='append', index=False)

Insert where there are foreign keys test
Start from outside (tables with no foreign keys required) and go within

insert into sales_demographic required FK from age_group and retailer_headquarters, insert into retailer_headquarters requires FK from retailer_segment

retailer_segment DF and DB insert

In [ ]:
retailer_segment_df.loc[len(retailer_segment_df)] = [1, 'english', 'seg name test', 'seg desc test']
retailer_segment_df.to_sql('retailer_segment', con=engine, if_exists='append', index=False)

territory_code DF and DB insert

In [ ]:
sales_territory_df.loc[len(sales_territory_df)] = [3, 'kingdom of the netherlands']
sales_territory_df.to_sql('sales_territory', con=engine, if_exists='append', index=False)

country DF and DB insert

In [ ]:
country_df.loc[len(country_df)] = [1, 'netherlands', 'dutch', 'euro', 'flag of the netherlands', 3]
country_df.to_sql('country', con=engine, if_exists='append', index=False)

retailer_headquarters DF and DB insert

In [ ]:
retailer_headquarters_df.loc[len(retailer_headquarters_df)] = [8, 'google', 'address1test', 'address2test', 'amsterdam', 'north holland', 1, '1234567890', '1234567890', 1]
retailer_headquarters_df.to_sql('retailer_headquarters', con=engine, if_exists='append', index=False)

age_group DF and DB insert

In [ ]:
age_group_df.loc[len(age_group_df)] = [4, 65, 20]
age_group_df.to_sql('age_group', con=engine, if_exists='append', index=False)

sales_demographic DF and DB insert

In [ ]:
sales_demographic_df.loc[len(sales_demographic_df)] = [12, 8, 4, 20]
sales_demographic_df.to_sql('sales_demographic', con=engine, if_exists='append', index=False)

import read data from go_crm_train file

In [13]:
import sqlite3

conn = sqlite3.connect('../data/raw/go_crm_train.sqlite')
result = conn.cursor().execute('SELECT * from age_group').fetchall()

result_df = pd.DataFrame(result, columns=['AGE_GROUP_ID', 'UPPER_AGE', 'LOWER_AGE'])
result_df

   AGE_GROUP_ID  UPPER_AGE  LOWER_AGE
0             1         20          0
1             2         30         21
2             3         40         31
3             4         50         41
4             5         60         51
5             6         70         61