imports en connectie string naar DB

In [ ]:

from sqlalchemy import create_engine
import pandas as pd
import sqlite3 as sql

engine = create_engine(r"mssql+pyodbc://LAPTOP-5R7PJONJ\SQLEXPRESS/sdm?driver=ODBC+Driver+17+for+SQL+Server&trusted_connection=yes")

Maak Dataframes aan vanuit DB

In [ ]:
age_group_df = pd.read_sql_query('SELECT * FROM age_group', engine)
country_df = pd.read_sql_query('SELECT * FROM country', engine)
course_df = pd.read_sql_query('SELECT * FROM course', engine)
inventory_levels_df = pd.read_sql_query('SELECT * FROM inventory_levels', engine)
order_details_df = pd.read_sql_query('SELECT * FROM order_details', engine)
order_header_df = pd.read_sql_query('SELECT * FROM order_header', engine)
order_method_df = pd.read_sql_query('SELECT * FROM order_method', engine)
product_df = pd.read_sql_query('SELECT * FROM product', engine)
product_forecast_df = pd.read_sql_query('SELECT * FROM product_forecast', engine)
product_line_df = pd.read_sql_query('SELECT * FROM product_line', engine)
product_type_df = pd.read_sql_query('SELECT * FROM product_type', engine)
retailer_df = pd.read_sql_query('SELECT * FROM retailer', engine)
retailer_headquarters_df = pd.read_sql_query('SELECT * FROM retailer_headquarters', engine)
retailer_segment_df = pd.read_sql_query('SELECT * FROM retailer_segment', engine)
retailer_site_df = pd.read_sql_query('SELECT * FROM retailer_site', engine)
retailer_type_df = pd.read_sql_query('SELECT * FROM retailer_type', engine)
return_reason_df = pd.read_sql_query('SELECT * FROM return_reason', engine)
returned_item_df = pd.read_sql_query('SELECT * FROM returned_item', engine)
sales_branch_df = pd.read_sql_query('SELECT * FROM sales_branch', engine)
sales_staff_df = pd.read_sql_query('SELECT * FROM sales_staff', engine)
sales_demographic_df = pd.read_sql_query('SELECT * FROM sales_demographic', engine)
sales_territory_df = pd.read_sql_query('SELECT * FROM sales_territory', engine)
satisfaction_df = pd.read_sql_query('SELECT * FROM satisfaction', engine)
satisfaction_type_df = pd.read_sql_query('SELECT * FROM satisfaction_type', engine)
training_df = pd.read_sql_query('SELECT * FROM training', engine)

In [ ]:
course_df.loc[len(course_df)] = [2, 'course sample test information']
training_df.loc[len(training_df)] = [2026, 7, 2]

course_df.to_sql('course', con=engine, if_exists='append', index=False)
training_df.to_sql('training', con=engine, if_exists='append', index=False)

IntegrityError: (pyodbc.IntegrityError) ('23000', "[23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]Violation of PRIMARY KEY constraint 'PK__course__E40D4555DC3C4957'. Cannot insert duplicate key in object 'dbo.course'. The duplicate key value is (2). (2627) (SQLExecDirectW); [23000] [Microsoft][ODBC Driver 17 for SQL Server][SQL Server]The statement has been terminated. (3621)")
[SQL: INSERT INTO course ([COURSE_CODE], [COURSE_DESCRIPTION]) VALUES (?, ?), (?, ?)]
[parameters: (2, 'course sample test information', 2, 'course sample test information')]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

:

In [12]:
retailer_segment_df.loc[len(retailer_segment_df)] = [1, 'english', 'segment name sample', 'segmenst description test']
retailer_segment_df.to_sql('retailer_segment', con=engine, if_exists='append', index=False)

1

In [13]:
sales_territory_df.loc[len(sales_territory_df)] = [3, 'Kingdom of The Netherlands']
sales_territory_df.to_sql('sales_territory', con=engine, if_exists='append', index=False)

1

In [14]:
country_df.loc[len(country_df)] = [1, 'Netherlands', 'Dutch', 'Euro', 'flag of The Netherlands', 3]
country_df.to_sql('country', con=engine, if_exists='append', index=False)

1

In [15]:
retailer_headquarters_df.loc[len(retailer_headquarters_df)] = [8, 'google', 'address1', 'address2', 'Amsterdam', 'North-Holland', 1, '1234567890', '1234567890', 1]
retailer_headquarters_df.to_sql('retailer_headquarters', con=engine, if_exists='append', index=False)

1

In [16]:
age_group_df.loc[len(age_group_df)] = [4, 65, 20]
age_group_df.to_sql('age_group', con=engine, if_exists='append', index=False)

1

In [17]:


sales_demographic_df.loc[len(sales_demographic_df)] = [12, 8, 4, 20]
sales_demographic_df.to_sql('sales_demographic', con=engine, if_exists='append', index=False)

NameError: name 'sales_demographic_df' is not defined

In [18]:


conn = sql.connect('../../data/raw/go_crm_train.sqlite')
result = conn.cursor().execute('SELECT * from age_group').fetchall()

result_df = pd.DataFrame(result, columns=['AGE_GROUP_ID', 'UPPER_AGE', 'LOWER_AGE'])
result_df

   AGE_GROUP_ID  UPPER_AGE  LOWER_AGE
0             1         20          0
1             2         30         21
2             3         40         31
3             4         50         41
4             5         60         51
5             6         70         61